* {
    padding: 0px;
    margin: 0px;
    font-family: "Inter";
    font-optical-sizing: auto;
    font-weight: weight;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 20px 6%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    gap: 15px;
    color: #575757;
}

.btn {
    color: white;
    background-color: #1D4ED8;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.banner {
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.8) 30%,
            rgba(0, 0, 0, 0.3) 60%,
            rgba(0, 0, 0, 0) 100%), url('./assets/banner.jpg');
    height: 110vh;
    width: 100%;
    background-size: cover;
    background-position: center -120px;
}

.banner div {
    text-align: center;
    padding: 150px;
}

.banner h1 {
    font-size: 60px;
    color: white;
}

.banner p {
    color: #FFFFFF;
    padding: 15px;
    max-width: 55%;
    margin: 1px auto;
    font-size: 15px;
}

.banner .btn {
    position: absolute;
    margin-bottom: -110px;
    text-align: center;
    bottom: 30px;
    left: 42%;
    padding: 18px 50px;
}

.speaker {
    text-align: center;
    margin: 70px auto;
    padding: 0px 50px;
}

.speaker h1 {
    font-size: 50px;
}

.speaker-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
}

.speaker-card {
    border: 0.5px solid #E5E7EB;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-right: 20px;
    overflow: hidden;
}

.speaker-img {
    display: block;
    width: 100%;
}

.speaker-text {
    text-align: left;
    padding: 30px;
}

.category {
    color: #2563EB;
    padding-bottom: 8px;
    font-weight: 600;
}

.speaker-text h2 {
    padding-bottom: 8px;
    color: #0D1B2A;
}

.title1 {
    color: #575757;
    font-weight: 400;
}

.spot {
    text-align: center;
}

.spot h2 {
    font-size: 40px;
    padding-bottom: 13px;
}

.head-p {
    color: #575757;
    font-size: 13px;
    padding-bottom: 30px;
}

.spot-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0px 200px;
}

.card-container {
    border: 0.5px solid #E5E7EB;
    border-radius: 10px;
    padding: 30px;
    text-align: left;
}

.card-container2 {
    border: 0.5px solid #E5E7EB;
    border-radius: 10px;
    padding: 30px;
    text-align: left;
    background-color: #0D1B2A;
    color: #FFFFFF;
}

.card-container h6 {
    padding: 6px;
    color: #888888;
}

.card-container2 h6 {
    padding: 6px;
    color: #93C5FD;
}

.card-container p,
.card-container2 p {
    color: #888888;
    font-size: 10px;
    padding-bottom: 15px;
}

hr {
    color: #FFFFFF;
}

.card-container ul,
.card-container2 ul {
    padding-left: 20px;
    margin-top: 15px;
}

.card-container li::marker,
.card-container2 li::marker {
    color: #2563EB;
}

.card-container li {
    margin-bottom: 10px;
    color: #333333;
    font-size: 12px;
}

.card-container2 li {
    color: #FFFFFF;
    font-size: 12px;
    margin-bottom: 10px;
}

.one-btn {
    margin: 5px;
    border: 1px solid #2563EB;
    border-radius: 10px;
    color: #2563EB;
    background-color: white;
    padding: 8px 70px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}

.two-btn {
    margin: 5px;
    border: 1px solid #0D1B2A;
    border-radius: 10px;
    color: #0D1B2A;
    background-color: white;
    padding: 8px 70px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}

.third-btn {
    margin: 5px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    background-color: #2563EB;
    padding: 8px 100px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}

/* ---------- Event Schedule ---------- */

.schedule {
    padding-top: 100px;
    padding-bottom: 50px;
    background: #F8FAFC;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

/* ---------- Title ---------- */

.title {
    text-align: center;
    margin-bottom: 70px;
}

.title h4 {
    color: #0D1B2A;
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.title h1 {
    font-size: 52px;
    color: #1F2937;
    margin-bottom: 20px;
}

.title p {
    color: #6B7280;
    font-size: 18px;
}

/* ---------- Timeline ---------- */

.timeline {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/* ---------- Each Event ---------- */

.event {
    display: flex;
    align-items: center;
}

/* ---------- Time Box ---------- */

.time {
    width: 180px;
    background: #0D1B2A;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    font-weight: bold;
}

.time time {
    display: block;
    font-size: 22px;
}

.time span {
    display: block;
    margin: 8px 0;
}

/* ---------- Timeline ---------- */

.line {
    width: 70px;
    display: flex;
    justify-content: center;
    position: relative;
}

.line::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 170px;
    background: #0D1B2A;
    top: -70px;
}

.event:first-child .line::before {
    top: 0;
}

.dot {
    width: 18px;
    height: 18px;
    background: #0D1B2A;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

/* ---------- Card ---------- */

.card {
    flex: 1;
    background: white;
    border-radius: 18px;
    padding: 28px 35px;
    display: flex;
    align-items: center;
    gap: 25px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, .08);
    transition: .3s;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .12);
}

/* ---------- Icon ---------- */

.icon {
    width: 75px;
    height: 75px;
    background: #ECFDF5;
    color: #0D1B2A;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;

    flex-shrink: 0;
}

/* ---------- Details ---------- */

.details h2 {
    color: #1F2937;
    margin-bottom: 10px;
    font-size: 28px;
}

.details p {
    color: #6B7280;
    margin-bottom: 10px;
    line-height: 1.7;
}

.details small {
    color: #0D1B2A;
    font-size: 16px;
    font-weight: 600;
}

footer {
    background-color: #0D1B2A;
    margin-top: 50px;
}

footer section {
    display: flex;
    justify-content: space-between;
    padding: 30px 6%;
}

.foot-1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    text-decoration: none;
}

.footer-link {
    font-size: 25px;
}

footer hr {
    color: #7d7f83;
    margin: 0px 30px;
}

footer div {
    display: flex;
    justify-content: space-between;
    padding: 30px 6%;
    color: #888888;
    font-size: 10px;
}

footer div .foot-2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    text-decoration: none;
}